.nav_burger {
    display: block;
    text-align: center;
    margin-top: 15%;
    color: var(--color-white);
    font-size: 4rem;
  }

  .nav {
    max-width: 100vw;
  }

  .nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1rem;
  }

  .nav ul.nav_drawer {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-white);
    border-right: none;
    border-radius: 5px 0 0 5px;

    top: 0;
    right: 0;
    height: 100%;
    outline: 0;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
    background: var(--background);
    width: 70vw;
  
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    padding: 2rem .5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .slideIn {
    visibility: visible;
    transform: none;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
  
  .nav ul.hidden {
    visibility: hidden;
    width: 240px;
    transform: translateX(240px);
    flex-shrink: 0;
    transition: 325ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  
  .nav li, .nav a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 300px;
  }

  .nav a {
    padding: 0;
  }

  .nav li.drawer_heading {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-white);
    border-radius: 0;
  
    padding: 0 .5rem 2rem .5rem ;
  }

  .btn_close {
    color: var(--color-white);
    background: var(--background);
    border: 1px solid var(--color-white);
    border-radius: 5px;
    width: 3rem;
    padding: .5rem 0;
    font-size: 1.5rem;
  }

  @media screen and (min-width: 700px) {
    .nav_burger {
      display: none;
    }
    
    .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1.5rem;
      font-size: 1.25rem;
    }
    
    .nav a:hover,
    .nav a:active {
      background: linear-gradient(90deg, var(--color-accent-light), var(--color-highlight-light));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 18px rgb(234, 248, 42);
    }

    .nav ul.nav_drawer {
      display: none;
    }
  }