.active {
  background: linear-gradient(90deg, var(--color-accent), var(--color-highlight-light));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }