.link {
    display: flex !important;
    justify-items: center;
    align-items: center;
    gap: 3px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--gradient-btn-active);
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
    width: max-content;
    /* TODO set up fixed width:  */
};

.link:hover,
.link:active {
    background: var(--gradient-btn);
  }


