.link {
    display: flex !important;
    justify-items: center;
    align-items: center;
    gap: 3px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #f9572a, #ff9b05);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    width: max-content;
    /* TODO set up fixed width:  */
};

.link:hover,
.link:active {
    background: linear-gradient(90deg, #fd4715, #f9b241);
  }


